@model WebShop.ViewModels.EditProductViewModel

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h2>AddProduct</h2>

<div>
    @if (Model.ConfirmSuccess.HasValue && Model.ConfirmSuccess.Value)
    {
        <div style="text-align: center; margin: 50px;">
            Pomyślnie wprowadzono zmiany!
        </div>
    }

    @using (@Html.BeginForm("AddProduct", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="error-summary-centered">
            @Html.ValidationSummary()
        </div>

        @Html.HiddenFor(o => o.Produkt.ProduktId)
        @Html.HiddenFor(o => o.Produkt.DataDodania)
        @Html.HiddenFor(o => o.Produkt.NazwaObrazka)


        <div style="text-align: center;">
            <table id="albumedit-address-table">
                <tr>
                    <td>@Html.LabelFor(o => o.Produkt.Nazwa, "Nazwa:")</td>
                    <td>@Html.TextBoxFor(o => o.Produkt.Nazwa)</td>
                    <td>@Html.ValidationMessageFor(o => o.Produkt.Nazwa)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Produkt.Opis, "Opis:")</td>
                    <td>@Html.TextBoxFor(o => o.Produkt.Opis)</td>
                    <td>@Html.ValidationMessageFor(o => o.Produkt.Opis)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Kategorie, "Kategoria:")</td>
                    <td>@Html.DropDownListFor(m => m.Produkt.KategoriaId, new SelectList(Model.Kategorie, "KategoriaId", "Name", Model.Kategorie.First().KategoriaId))</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Produkt.Cena, "Cena:")</td>
                    <td>@Html.TextBoxFor(o => o.Produkt.Cena)</td>
                    <td>@Html.ValidationMessageFor(o => o.Produkt.Cena)</td>
                </tr>
                @if (ViewBag.EditMode == null || !ViewBag.EditMode)
                {
                    <tr>
                        <td colspan="3">

                            <div class="upload">
                                <input type="file" name="file" />
                            </div>

                        </td>
                    </tr>
                }
            <tr>



                <td></td>
                <td style="text-align: left">
                    @if (ViewBag.EditMode)
                    {
                        if (Model.Produkt.UkrytyProdukt)
                        {
                            @* A bit dangerous - CSRF. Nested form.. Need to use form attr or JS *@
                            <a href="@Url.Action("UnhideProduct", "Manage", new { produktId = Model.Produkt.ProduktId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                Przywróć
                            </a>
                        }
                        else
                        {
                            @* A bit dangerous - CSRF. Nested form.. Need to use form attr or JS *@
                            <a href="@Url.Action("HideProduct", "Manage", new { produktId = Model.Produkt.ProduktId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                Usuń
                            </a>
                        }
                    }
                </td>
                <td style="text-align: right;">

                    <input type="submit" value="Zapisz" class="submitLink" style="height: 40px; margin-right: 0px; margin-top: 30px; font-weight: bold;" />

                </td>
</table>
        </div>
    }

</div>

