@model  WebShop.ViewModels.ManageCredentialsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}


<a href="@Url.Action("Index", "Home")">Start</a>
<a href="@Url.Action("Index", "Manage")">Twoje dane</a>
<a href="@Url.Action("OrdersList", "Manage")">Zamóweiania</a>
@using (@Html.BeginForm("ChangeProfile", "Manage"))
{
    @Html.AntiForgeryToken()

    <div style="text-align: center;">
        <table id="userdata-address-table">
            <tr>
                <td>@Html.LabelFor(o => o.UserData.FirstName, "Imię:")</td>
                <td>@Html.TextBoxFor(o => o.UserData.FirstName)</td>
                <td>@Html.ValidationMessageFor(o => o.UserData.FirstName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.UserData.LastName, "Nazwisko")</td>
                <td>@Html.TextBoxFor(o => o.UserData.LastName)</td>
                <td>@Html.ValidationMessageFor(o => o.UserData.LastName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.UserData.Address, "Adres")</td>
                <td>@Html.TextBoxFor(o => o.UserData.Address)</td>
                <td>@Html.ValidationMessageFor(o => o.UserData.Address)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.UserData.CodeAndCity, "Kod i miasto")</td>
                <td>@Html.TextBoxFor(o => o.UserData.CodeAndCity)</td>
                <td>@Html.ValidationMessageFor(o => o.UserData.CodeAndCity)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.UserData.PhoneNumber, "Numer telefonu")</td>
                <td>@Html.TextBoxFor(o => o.UserData.PhoneNumber)</td>
                <td>@Html.ValidationMessageFor(o => o.UserData.PhoneNumber)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.UserData.Email, "Adres e-mail")</td>
                <td>@Html.TextBoxFor(o => o.UserData.Email)</td>
                <td>@Html.ValidationMessageFor(o => o.UserData.Email)</td>
            </tr>
            <tr style="text-align: right;">
                <td></td>
                <td colspan="3">
                    <div class="checkbox" style="margin-bottom: 10px;">
                    </div>

                    <input type="submit" value="Potwierdź" class="submitLink" style="height: 40px; margin-right: 5px;" />
                </td>
            </tr>
        </table>
    </div>
}


<hr />

@if (Model.HasPassword)
{
    <h2 style="margin-bottom: 30px">Zmiana hasła</h2>

    using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="manage-error">
            @Html.ValidationMessage("password-error", "")
        </div>


        <table id="password-table" style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>@Html.LabelFor(o => o.ChangePasswordViewModel.OldPassword, "Stare hasło:")</td>
                <td>
                    @Html.PasswordFor(o => o.ChangePasswordViewModel.OldPassword)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.OldPassword)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.ChangePasswordViewModel.NewPassword, "Nowe hasło:")</td>
                <td>
                    @Html.PasswordFor(o => o.ChangePasswordViewModel.NewPassword)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.NewPassword)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.ChangePasswordViewModel.ConfirmPassword, "Potwierdź hasło:")</td>
                <td>
                    @Html.PasswordFor(o => o.ChangePasswordViewModel.ConfirmPassword)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.ConfirmPassword)
                    </div>
                </td>
            </tr>
            <tr style="text-align: right;">
                <td></td>
                <td colspan="3">
                    <div class="checkbox" style="margin-bottom: 10px;">
                    </div>

                    <input type="submit" value="Zmień" class="submitLink" style="height: 40px;" />
                </td>
            </tr>
        </table>
    }
}
else
{
    <h2 style="margin-bottom: 30px">Ustaw hasło lokalne</h2>

    using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="manage-error">
            @Html.ValidationMessage("password-error", "")
        </div>


        <table id="password-table" style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>@Html.LabelFor(o => o.SetPasswordViewModel.NewPassword, "Nowe hasło:")</td>
                <td>
                    @Html.PasswordFor(o => o.SetPasswordViewModel.NewPassword)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.SetPasswordViewModel.NewPassword)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.SetPasswordViewModel.ConfirmPassword, "Potwierdź hasło:")</td>
                <td>
                    @Html.PasswordFor(o => o.SetPasswordViewModel.ConfirmPassword)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.SetPasswordViewModel.ConfirmPassword)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="checkbox" style="margin-bottom: 10px;">
                    </div>

                    <input type="submit" value="Zmień" class="submitLink" style=" height: 40px;" />
                </td>
            </tr>
        </table>
    }
}


@section ScriptsBottom
{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}